@model Presentation.Models.ViewModels.AddressViewModel
@{
    Layout = null;
}

<p></p>
<div class="row">
    <div class="col-lg-12">
        <a href="@Url.Action("Edit", "Address")" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-2x fa-pencil-square-o color-custom pull-right"></i>
        </a>
    </div>
</div>
<p>
</p>

<div class="row">
        <div class="form-group">
            <div class="col-lg-12">
                @Html.LabelFor(m => m.Street)
                @Html.EditorFor(m => m.Street, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.District)
                @Html.EditorFor(m => m.District, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Number)
                @Html.EditorFor(m => m.Number, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="col-lg-6">
                @Html.Label("Cidade")
                @Html.EditorFor(m => m.City.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="col-lg-6">
                @Html.Label("Estado")
                @Html.EditorFor(m => m.City.State.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
</div>
