@model Presentation.Models.ViewModels.UserViewItem
@{
    Layout = null;
}

<p></p>
<div class="row">
    <div class="col-lg-12">
        <a href="@Url.Action("EditProfile", "User")" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-2x fa-pencil-square-o color-custom pull-right"></i>
        </a>
    </div>
</div>
<p>
</p>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="col-lg-12">
                @Html.LabelFor(m => m.FullName)
                @Html.EditorFor(m => m.FullName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Cpf)
                @Html.EditorFor(m => m.Cpf, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.BirthDay)
                @Html.EditorFor(m => m.BirthDay, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="col-lg-12">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<p>
</p>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <a href="@Url.Action("ChangePassword", "User")" data-toggle="modal" data-target="#myModal" class="btn btn-outline btn-primary btn-lg btn-block">
            Alterar Senha
        </a>
    </div>
</div>
