@model Presentation.Models.ViewModels.TravelUserViewCreate
@{
    ViewBag.Title = "Convidar Membro";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title" id="myModalLabel">@ViewBag.Title</h3>
</div>
@using (@Html.BeginForm("InviteMember", "Travel", FormMethod.Post, new { @class = "form-horizontal form-modal" }))
{
    <div class="modal-body">
        <div class="form-group">
            <div class="col-lg-12">
                @Html.DropDownListFor(m => m.IdUser, new SelectList(Model.Users, "Id", "FullName"), "Selecione um Contato", new { @class = "form-control", @id = "origin" })
                @Html.ValidationMessageFor(m => m.IdUser, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.IdTravel)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Enviar</button>
    </div>
}


@Scripts.Render("~/reloadModal")