@using Presentation.Models.ViewModels;
@model  TravelViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Viagem Atual";
}



<div class="panel panel-info">
    <div class="panel-heading">
        <h4>
            @ViewBag.Title
        </h4>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active">
                <div id="confirmedBody">
                    <p></p>
                    <p>
                    </p>
                    @if (Model.Destinations != null && Model.Destinations.Count > 0)
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-12">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            Dados da Viagem
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <a href="@Url.Action("SeeGroup", "Travel", new { idTravel = Model.Id })" class="btn btn-outline btn-primary btn-circle pull-right" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-users fa-fw"></i>
                                                </a>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 text-uppercase text-right">
                                                    Nome
                                                </div>
                                                <div class="col-md-10">
                                                    @Model.Name
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="col-md-4 text-uppercase text-right">
                                                        Cidade Origem
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Model.Destinations[0].City.Name - @Model.Destinations[0].City.State.Abbreviation
                                                    </div>
                                                    <div class="col-md-4 text-uppercase text-right">
                                                        Data Origem
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Model.Destinations[0].Date.Date.ToShortDateString()
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="col-md-4 text-uppercase text-right">
                                                        Cidade Destino
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Model.Destinations[1].City.Name - @Model.Destinations[1].City.State.Abbreviation
                                                    </div>
                                                    <div class="col-md-4 text-uppercase text-right">
                                                        Data Destino
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Model.Destinations[1].Date.Date.ToShortDateString()
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="panel panel-green expense-travel">
                                        <div class="panel-heading">
                                            Despesas da Viagem
                                        </div>
                                        <div class="panel-body ">
                                            <div class="col-md-12">
                                                @if (Model.ValueToPay < 0)
                                                {
                                                <h2 class="text-danger text-center">
                                                    VOCÊ DEVE PAGAR 
                                                    @Html.Raw("R$ " + Model.ValueToPay.ToString())
                                                </h2>
                                                }
                                                else if(Model.ValueToPay > 0)
                                                {
                                                    <h2 class="text-warning text-center">
                                                        VOCÊ DEVE RECEBER
                                                        @Html.Raw("R$ " + Model.ValueToPay.ToString())
                                                    </h2>
                                                }
                                                else
                                                {
                                                    <h2 class="text-success text-center">
                                                        VOCÊ TÁ DE BOA
                                                    </h2>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            Gastos Pessoais
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <a href="@Url.Action("AddMyCost", "Cost", new { idTravel = Model.Id })" class="btn btn-outline btn-primary btn-circle pull-right" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-plus fa-fw"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-12">
                                                <p>
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover" id="dataTables-Personal">
                                                        <thead>
                                                            <tr>
                                                                <th>Valor</th>
                                                                <th>Data</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.PersonalCosts != null && Model.PersonalCosts.Count > 0)
                                                            {
                                                                foreach (var item in Model.PersonalCosts)
                                                                {
                                                                    <tr class="odd gradeX">
                                                                        <td>R$ @item.Price</td>
                                                                        <td>@item.CreatedDate.Date.Date.ToShortDateString()</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 text-uppercase text-right gray">
                                                        <strong>
                                                            Total
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-8 text-uppercase text-left gray">
                                                        <strong>
                                                            @if (Model.PersonalCosts != null && Model.PersonalCosts.Count > 0)
                                                            {
                                                                var sum = Model.PersonalCosts.Sum(e => e.Price);
                                                                @Html.Raw("R$ " + sum.ToString());
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("R$ 0,00");
                                                            }
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            Gastos da Viagem
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <a href="@Url.Action("AddGroupCost", "Cost", new { idTravel = Model.Id })" class="btn btn-outline btn-primary btn-circle pull-right" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-plus fa-fw"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-12">
                                                <p>
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover" id="dataTables-Group">
                                                        <thead>
                                                            <tr>
                                                                <th>Valor</th>
                                                                <th>Data</th>
                                                                <th>Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.GroupCosts != null && Model.GroupCosts.Count > 0)
                                                            {
                                                                foreach (var item in Model.GroupCosts)
                                                                {
                                                                    <tr class="odd gradeX">
                                                                        <td>R$ @item.Price</td>
                                                                        <td>@item.CreatedDate.Date.Date.ToShortDateString()</td>
                                                                        <td align="center">
                                                                            <a href="@Url.Action("SeeGroupCost", "Cost", new { idCost = item.Id })" title="Ver integrantes" class="btn btn-outline btn-primary btn-circle" data-toggle="modal" data-target="#myModal">
                                                                                <i class="fa fa-eye fa-fw"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4 text-uppercase text-right gray">
                                                        <strong>
                                                            Total
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-8 text-uppercase text-left gray">
                                                        <strong>
                                                            @if (Model.GroupCosts != null && Model.GroupCosts.Count > 0)
                                                            {
                                                                var sum = Model.GroupCosts.Sum(e => e.Price);
                                                                @Html.Raw("R$ " + sum.ToString());
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("R$ 0,00");
                                                            }
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Modal")
</div>
@Scripts.Render("~/jquery")
@Scripts.Render("~/metis/js")
<script>
    $(document).ready(function () {
        $('#dataTables-Personal').DataTable({
            responsive: true
        });
        $('#dataTables-Group').DataTable({
            responsive: true
        });
    });
</script>