@model Presentation.Models.ViewModels.ContactAddOrDelete

@{
    ViewBag.Title = "Aceitar Contato";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title" id="myModalLabel">@ViewBag.Title</h3>
</div>
@using (@Html.BeginForm("AceptContact", "Contact", FormMethod.Post, new { @class = "form-horizontal form-modal" }))
{
    <div class="modal-body">
        <div class="form-group">
            <div class="col-lg-12">
                <p>
                    Deseja aceitar o contato <strong>@Model.Name</strong> com o e-mail <strong>@Model.Email</strong>?
                </p>
            </div>
        </div>
    </div>
    @Html.HiddenFor(c => c.Id)
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Aceitar</button>
    </div>
}


@Scripts.Render("~/reloadModal")


